.activity-container {
  padding: 2rem;
  max-width: 1000px;
  margin: auto;
}

.filter-container {
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
  animation: none;
}
.filter-container label {
  animation: none !important;
  height: 6px;
  
}

.table-wrapper {
  overflow-x: auto;
}

.activity-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #e4e1e1;
  color: #030303;
}

.activity-table th,
.activity-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.activity-table th {
  background-color: #f5f5f5;
}

.activity-table tr:nth-child(even) {
  background-color: #fcf7f7;
}

.activity-table tr:hover {
  background-color: #bdb7b7;
}
